.chuyenanh
{
    padding-bottom:10px;
}
.chuyenanh .slide{
  width:1140px;
  margin: 0;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}
.chuyenanh .chuyen-slide{
  width: 9999px;
  transition: all 0.5s;
}
 .chuyenanh .chuyen-slide img{
  width: 1140px;
  height: 400px;
  float:left;
}
.chuyenanh .slide .dieuhuong{
  position: absolute;
  color: white;
  font-size: 40px;
  top: 48%;
  padding-left: 20px;
  display:none;
}
.chuyenanh .slide .dieuhuong i:last-child{
  position: relative;
  left: 1000px;
}
.chuyenanh .slide:hover .dieuhuong
{
	display:block;
}
.tranggiohang
{
	background-color:#1e2122;
	padding-top:25px;
     padding-bottom:25px;
}
.tranggiohang .ttsp{
	background-color:black;
    height:50px;
    display:flex;
	text-align:center-left;
	align-items:center;
}
.tranggiohang .ttsp span
{
	color:white;
	
}
.tranggiohang .sanpham{
	border-top:3px solid #1e2222;
	background-color:black;
    height:150px;
    display:flex;
	text-align:center-left;
	align-items:center;
	color:white;
}
.tranggiohang .tongtien
{
	border-top:3px solid #1e2222;
	background-color:black;
    height:50px;
    display:flex;
	text-align:center-left;
	align-items:center;
	color:white;
	padding-left:80%;
}
.tranggiohang .tongtien span
{
	margin-right:10px;
}
.tranggiohang .thongtin
{
	border-top:3px solid #1e2222;
	background-color:black;
    height:auto;
    display:flex;
	text-align:center-left;
	align-items:center;
	color:white;
}
.tranggiohang .thongtin input
{
    background-color:#181a1b;
	border:1px solid #3b4043;
	border-radius:3px;
	display:block;
	width:200px;
    padding:5px;
	margin:20px;
	color:white;
}
.tranggiohang .thongtin input:last-child
{
    text-align:center;
   background-color:#BB0000;
   width:100px;
    padding:5px;
	margin:20px;
	color:white;
}
